1.Write a program to create a function show_employee() using the following conditions.
●	It should accept the employee’s name and salary and display both.
●	If the salary is missing in the function call then assign default value 9000 to salary

In [4]:
def show_employee(name,salary=9000):
  print("Employee Name:",name)
  print("Employee Salary:",salary)

show_employee("Ben",15000)
show_employee("Nisha")

Employee Name: Ben
Employee Salary: 15000
Employee Name: Nisha
Employee Salary: 9000

2: Create an inner function to calculate the addition in the following way.
Create an outer function that will accept two parameters, a and b
Create an inner function inside an outer function that will calculate the addition of a and b.
At last, an outer function will add 5 into addition and return it.

In [6]:
def outer_fun(a, b):
    def addition(a, b):
        return a + b
    add = addition(a, b)
    return add + 5

result = outer_fun(5, 5)
print(result)

15

3: Generate a Python list of all the even numbers between 4 to 30

In [7]:
list(range(4,30,2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

4.Given a list, the task is to write a Python program to check if the value exists in the list or not using the lambda function.


Input  : L = [1, 2, 3, 4, 5]
          element = 4
Output :  Element is Present in the list

Input :  L = [1, 2, 3, 4, 5]
          element = 8
Output :  Element is NOT Present in the list

In [9]:
list1 = [1,2,3,4,5]
element = 15
countFunc = lambda list1, element: True if element in list1 else False
if(countFunc(list1,element)):
	print("Elememt is present in the list")
else:
	print("Elememt is not present in the list")

Elememt is not present in the list

5.Sort the points based on their sum of elements in the tuples

points = [(1, 2), (5, 3), (0, 7), (3, 1)]

In [12]:
Input = [(1, 2), (5, 3), (0, 7), (3, 1)]

print("The original list of tuple is: ")
print(Input)
lst = len(Input)

# Bubble sort
for i in range(lst):

    for j in range(lst-i-1):
        if (Input[j][0]+Input[j][1]) > (Input[j+1][0]+Input[j+1][1]):
            Input[j], Input[j+1] = Input[j+1], Input[j]
print("\nThe answer is")
print(Input)

The original list of tuple is:
[(1, 2), (5, 3), (0, 7), (3, 1)]

The answer is
[(1, 2), (3, 1), (0, 7), (5, 3)]

6.Write a python function, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. Return the results as a list

In [14]:
numbers = []
for x in range (1000,3000):
    numSplit = [int(d) for d in str(x)]
    odd = False
    for y in range (0, len(numSplit)):
        if numSplit[y] % 2 != 0:
            odd = True
    if (odd == False):
        numbers.append(x)
print (numbers)

[2000, 2002, 2004, 2006, 2008, 2020, 2022, 2024, 2026, 2028, 2040, 2042, 2044, 2046, 2048, 2060, 2062, 2064, 2066, 2068, 2080, 2082, 2084, 2086, 2088, 2200, 2202, 2204, 2206, 2208, 2220, 2222, 2224, 2226, 2228, 2240, 2242, 2244, 2246, 2248, 2260, 2262, 2264, 2266, 2268, 2280, 2282, 2284, 2286, 2288, 2400, 2402, 2404, 2406, 2408, 2420, 2422, 2424, 2426, 2428, 2440, 2442, 2444, 2446, 2448, 2460, 2462, 2464, 2466, 2468, 2480, 2482, 2484, 2486, 2488, 2600, 2602, 2604, 2606, 2608, 2620, 2622, 2624, 2626, 2628, 2640, 2642, 2644, 2646, 2648, 2660, 2662, 2664, 2666, 2668, 2680, 2682, 2684, 2686, 2688, 2800, 2802, 2804, 2806, 2808, 2820, 2822, 2824, 2826, 2828, 2840, 2842, 2844, 2846, 2848, 2860, 2862, 2864, 2866, 2868, 2880, 2882, 2884, 2886, 2888]

7.Write a python function that accepts a sentence and calculate and return the number of letters and digits.
Suppose the following input is supplied to the program:
hello world! 123
Then, the output should be:
LETTERS 10
DIGITS 3

In [15]:
phrase = input("Type in: ")
phrase = list(phrase)

l, d = 0, 0
for i in phrase:
    if i.isalpha():
        l = l + 1
    if i.isdigit():
        d = d + 1
    else:
        pass

print("Letters:", l)
print("Digits:", d)

Type in: 123cafe
Letters: 4
Digits: 3

8.Write a Python program to convert all the characters into uppercase and lowercase and eliminate duplicate letters from a given sequence. Use the map() function

In [2]:
def change_cases(s):
    return str(s).upper(), str(s).lower()
chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
result = map(change_cases, chrars)
print("\nAfter converting above characters in upper and lower cases\nand eliminating duplicate letters:")
print(set(result))

After converting above characters in upper and lower cases
and eliminating duplicate letters:
{('A', 'a'), ('O', 'o'), ('U', 'u'), ('E', 'e'), ('B', 'b'), ('F', 'f'), ('I', 'i')}

9.Write a Python program to element wise add two given lists and find the difference between them. Use the map() function

In [6]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
print("Original list:")
print(nums1)
print(nums2)
result = map(lambda x, y: x + y, nums1, nums2)
result1 = map(lambda x, y: x - y, nums1, nums2)
print("\nResult: After adding two lists")
print(list(result))
print("\nResult: After subtracting two lists")
print(list(result1))

Original list:
[1, 2, 3]
[4, 5, 6]

Result: After adding two lists
[5, 7, 9]

Result: After subtracting two lists
[-3, -3, -3]

10.Write a Python program to filter the height and weight of students, which are stored in a dictionary using lambda.
Original Dictionary:
{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}
Height> 6ft and Weight> 70kg:
{'Cierra Vega': (6.2, 71)}

In [3]:
def filter_data(students):
  result = dict(filter(lambda x: (x[1][0], x[1][1]) > (6.0, 70), students.items()))
  return result

students = {
    'Cierra Vega': (6.2, 71),
    'Alden Cantrell': (5.9, 65),
    'Kierra Gentry': (6.0, 68),
    'Pierre Cox': (5.8, 66)
}

print("Original Dictionary:")
print(students)
print("\nHeight > 6ft and Weight > 70kg:")
print(filter_data(students))

Original Dictionary:
{'Cierra Vega': (6.2, 71), 'Alden Cantrell': (5.9, 65), 'Kierra Gentry': (6.0, 68), 'Pierre Cox': (5.8, 66)}

Height > 6ft and Weight > 70kg:
{'Cierra Vega': (6.2, 71)}

11.Write a Python program to remove all elements from a given list present in another list using lambda.
Original lists:
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2: [2, 4, 6, 8]
Remove all elements from 'list1' present in 'list2:
[1, 3, 5, 7, 9, 10]

In [5]:
def index_on_inner_list(list1, list2):
  result = list(filter(lambda x: x not in list2, list1))
  return result
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = [2, 4, 6, 8]
print("List 1:",list1)
print("List 2:",list2)
print("\nRemoving all elements from 'list1' present in 'list2':")
print(index_on_inner_list(list1, list2))

List 1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
List 2: [2, 4, 6, 8]

Removing all elements from 'list1' present in 'list2':
[1, 3, 5, 7, 9, 10]

12.Write a Python program to calculate the product of a given list of numbers using lambda.
list1: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

In [8]:
import functools
def remove_duplicates(nums):
  result = functools.reduce(lambda x, y: x * y, nums, 1)
  return result
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("List :", nums)
print("Product of the said list numbers:")
print(remove_duplicates(nums))

List : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Product of the said list numbers:
3628800

13. Write a Python program to multiply all the numbers in a given list using lambda.
Original list:
[4, 3, 2, 2, -1, 18]
Mmultiply all the numbers of the said list: -864

In [9]:
from functools import reduce
def mutiple_list(nums):
  result = reduce(lambda x, y: x * y, nums)
  return result
nums = [4, 3, 2, 2, -1, 18]
print("Original list:",nums)
print("Multiply all the numbers of the said list:", mutiple_list(nums))

Original list: [4, 3, 2, 2, -1, 18]
Multiply all the numbers of the said list: -864

14.Write a Python program to calculate the average value of the numbers in a given tuple of tuples using lambda.
Original Tuple:
((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
Average value of the numbers of the said tuple of tuples:
(30.5, 34.25, 27.0)

In [10]:
def average_tuple(nums):
  result = tuple(map(lambda x: sum(x) / float(len(x)), zip(*nums)))
  return result
nums = ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))
print("Original Tuple:",nums)
print("\nAverage value of the numbers of the said tuple of tuples:\n", average_tuple(nums))

Original Tuple: ((10, 10, 10), (30, 45, 56), (81, 80, 39), (1, 2, 3))

Average value of the numbers of the said tuple of tuples:
 (30.5, 34.25, 27.0)

15.Write a Python program to sort a given mixed list of integers and strings using lambda. Numbers must be sorted before strings.
Original list:
[19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
Sort the said mixed list of integers and strings:
[1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

In [14]:
def sort_mixed_list(mixed_list):
   mixed_list.sort(key=lambda e: (isinstance(e, str), e))
   return mixed_list
mixed_list = [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]
print("Original list:",mixed_list)
print("\nSort the said mixed list of integers and strings:",sort_mixed_list(mixed_list))

Original list: [19, 'red', 12, 'green', 'blue', 10, 'white', 'green', 1]

Sort the said mixed list of integers and strings: [1, 10, 12, 19, 'blue', 'green', 'green', 'red', 'white']

16.Write a Python program to count the occurrences of items in a given list using lambda.
Original list:
[3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
Count the occurrences of the items in the said list:
{3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

In [15]:
def count_occurrences(nums):
  result = dict(map(lambda el: (el, list(nums).count(el)), nums))
  return result
nums = [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]
print("Original list:",nums)
print("\nCount the occurrences of the items in the said list:",count_occurrences(nums))

Original list: [3, 4, 5, 8, 0, 3, 8, 5, 0, 3, 1, 5, 2, 3, 4, 2]

Count the occurrences of the items in the said list: {3: 4, 4: 2, 5: 3, 8: 2, 0: 2, 1: 1, 2: 2}

17.Write a Python program to remove None values from a given list using the lambda function.
Original list:
[12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
Remove None value from the said list:
[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [17]:
def remove_none(nums):
    result = filter(lambda v: v is not None, nums)
    return list(result)

nums = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
print("Original list:",nums)
print("\nRemove None value from the said list:",remove_none(nums))

Original list: [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]

Remove None value from the said list: [12, 0, 23, -55, 234, 89, 0, 6, -12]